# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Databricks
.databricks/

# Secrets
.env
.env.*
secrets/
credentials/
*.pem
*.key
*.pfx
*.publishsettings

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Test/cache
.pytest_cache/
.coverage
htmlcov/

# Local Spark
spark-warehouse/
metastore_db/
